
body {
	background-size: cover;
	background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2014-01/enhanced/webdr02/22/12/anigif_enhanced-buzz-31750-1390413207-23.gif);
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1 {
	color: white;
	text-align: center;
	font-size: 105px;
	text-shadow: 2px 2px 4px black;
	font-family: Snell Roundhand, cursive;
	padding-top: 40px;
}

h2 {
	font-size: 45px;
	text-shadow: 2px 2px 4px black;
	color: white;
}

#main_form{
	text-align: center;
}

.categories {
	text-align: center;
}

.buttonWrap {
	text-align: center;
	padding-bottom: 10px;
}

#nameDiv {
	padding-top: 100px;
	height: 768px;
}

#dayDiv {
	height: 768px;
}

#cityDiv {
	height: 768px;
}

#monthDiv {
	height: 768px;
}

.categories{
	height: 768px;
}